<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <http auto-config="true">
        
        <form-login
            login-page="/member/login.do" 
            login-processing-url="/member/login_processing.do"
            authentication-failure-url="/member/login.do?error"
            default-target-url="/member/user/main.do"
            username-parameter="loginId"
            password-parameter="password" />
        <logout
            logout-url="/member/logout.do"
            logout-success-url="/member/login.do"
            invalidate-session="true" />
    </http>

    <!-- 사용자가 입력한 아이디와 비밀번호를 데이터베이스에서 조회하여 검사하는 객체 등록. 객체의 이름은 myAuthenticationProvider, 클래스명은 MyAuthenticationProvider -->
    <authentication-manager>
        <authentication-provider ref="myAuthenticationProvider"/>
    </authentication-manager>

    <beans:bean id="webexpressionHandler"
      class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" />

</beans:beans>
